@charset "UTF-8";
body, html {
  height: 100%;
  margin: 0; }

.container {
  height: 100%;
  position: relative; }
  .container .wrap_fixed .logo {
    overflow: hidden;
    position: fixed;
    z-index: 100;
    top: 5%;
    left: 4%; }
  .container .wrap_fixed .side_page {
    position: fixed;
    right: 3%;
    top: 40%; }
    .container .wrap_fixed .side_page .page_list {
      text-align: right; }
  .container .wrap_fixed .event_button {
    width: 471px;
    height: 110px;
    z-index: 100;
    position: fixed;
    right: 0;
    bottom: 0;
    background-color: #fff;
    box-shadow: 0px 0px 29px 0px rgba(0, 0, 0, 0.2); }
    .container .wrap_fixed .event_button .button_content {
      position: relative; }
      .container .wrap_fixed .event_button .button_content img {
        position: absolute;
        top: 0;
        left: 37px;
        margin-top: 10px;
        width: 96px; }
      .container .wrap_fixed .event_button .button_content .button_text {
        display: inline-block;
        padding: 44px 100px 44px 130px;
        font-size: 22px;
        font-weight: 400; }
      .container .wrap_fixed .event_button .button_content .button_arr {
        position: absolute;
        top: 50%;
        right: 36px;
        width: 40px;
        height: 16px;
        vertical-align: middle;
        transform: translateY(-50%);
        /* ??왜? */
        background: url("../img/btn_ring_b.png"); }
    .container .wrap_fixed .event_button .button_content:hover {
      background-color: #1cabe2; }
      .container .wrap_fixed .event_button .button_content:hover .button_text {
        display: inline-block;
        padding: 44px 100px 44px 130px;
        font-size: 22px;
        font-weight: 400;
        color: #fff; }
      .container .wrap_fixed .event_button .button_content:hover .button_arr {
        position: absolute;
        top: 50%;
        right: 36px;
        width: 40px;
        height: 16px;
        vertical-align: middle;
        transform: translateY(-50%);
        /* ??왜? */
        background: url("../img/btn_ring_w.png"); }
  .container .main {
    background: url("../img/main_bg.jpg");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; }
  .container .content01 {
    padding: 5px 15px;
    background: url("../img/main_bg.jpg");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; }
  .container .content02 {
    height: 100%; }
  .container .content03 {
    padding: 5px 15px;
    background: url("../img/main_bg.jpg");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; }
  .container .content04 {
    padding: 5px 15px;
    background: #1cabe2;
    height: 100%;
    background-position: center; }
