@charset "UTF-8";
body, html {
  height: 100%;
  margin: 0;
  font-family: 'Noto Sans KR', sans-serif; }

.container {
  width: 100%;
  height: 100%;
  position: relative; }
  .container .wrap_fixed .logo {
    overflow: hidden;
    position: fixed;
    z-index: 100;
    top: 5%;
    left: 4%; }
  .container .wrap_fixed .side_page {
    position: fixed;
    right: 3%;
    top: 40%;
    z-index: 100; }
    .container .wrap_fixed .side_page .page_list {
      text-align: right; }
      .container .wrap_fixed .side_page .page_list li {
        color: #fff; }
  .container .wrap_fixed .event_button {
    width: 471px;
    height: 110px;
    z-index: 100;
    position: fixed;
    right: 0;
    bottom: 0;
    background-color: #fff;
    box-shadow: 0px 0px 29px 0px rgba(0, 0, 0, 0.2); }
    .container .wrap_fixed .event_button .button_content {
      position: relative; }
      .container .wrap_fixed .event_button .button_content img {
        position: absolute;
        top: 0;
        left: 37px;
        margin-top: 10px;
        width: 96px; }
      .container .wrap_fixed .event_button .button_content .button_text {
        display: inline-block;
        padding: 44px 95px 44px 130px;
        font-size: 22px;
        font-weight: 400; }
      .container .wrap_fixed .event_button .button_content .button_arr {
        position: absolute;
        top: 50%;
        right: 36px;
        width: 40px;
        height: 16px;
        vertical-align: middle;
        transform: translateY(-50%);
        /* ??왜? */
        background: url("../img/btn_ring_b.png"); }
    .container .wrap_fixed .event_button .button_content:hover {
      background-color: #1cabe2; }
      .container .wrap_fixed .event_button .button_content:hover .button_text {
        display: inline-block;
        padding: 44px 100px 44px 130px;
        font-size: 22px;
        font-weight: 400;
        color: #fff; }
      .container .wrap_fixed .event_button .button_content:hover .button_arr {
        position: absolute;
        top: 50%;
        right: 36px;
        width: 40px;
        height: 16px;
        vertical-align: middle;
        transform: translateY(-50%);
        /* ??왜? */
        background: url("../img/btn_ring_w.png"); }
  .container .main {
    overflow: hidden;
    background: url("../img/main_bg.jpg");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative; }
    .container .main .main_contentbox {
      width: 100%;
      height: 235px;
      position: absolute;
      top: 38%;
      right: -51%;
      z-index: 100; }
      .container .main .main_contentbox .main_content01 {
        width: 100%;
        margin-bottom: 47px; }
      .container .main .main_contentbox .main_content02 {
        font-size: 32px;
        color: #fff;
        font-weight: 700; }
  .container .content01 {
    width: 100%;
    background: url("../img/bg_3920.jpg") center 0; }
    .container .content01 .content01_box {
      margin: 0 auto;
      width: 100%;
      max-width: 1439px; }
      .container .content01 .content01_box .content01_title {
        padding-top: 234px;
        padding-left: 73px;
        margin-bottom: 150px; }
        .container .content01 .content01_box .content01_title .title01 {
          margin-bottom: 39px; }
      .container .content01 .content01_box .content01_con1 .con1_left {
        padding-top: 82px;
        padding-left: 138px; }
        .container .content01 .content01_box .content01_con1 .con1_left .dot {
          width: 16px;
          margin-top: 22px; }
        .container .content01 .content01_box .content01_con1 .con1_left .title01 .text1 {
          font-size: 36px;
          color: #36384f;
          font-weight: 700; }
        .container .content01 .content01_box .content01_con1 .con1_left .title01 .text2 {
          color: #40b87e;
          font-size: 36px;
          font-weight: 700; }
        .container .content01 .content01_box .content01_con1 .con1_left .title01 .text3 p {
          margin-bottom: 8px;
          font-size: 15px;
          color: #1e1f2c; }
  .container .content02 {
    padding: 5px 15px;
    background: url("../img/main_bg.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%; }
  .container .content03 {
    padding: 5px 15px;
    background: url("../img/main_bg.jpg");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; }
  .container .content04 {
    padding: 5px 15px;
    background: #1cabe2;
    height: 100%;
    background-position: center; }
