@charset "UTF-8";
body, html {
  height: 100%;
  margin: 0;
  font-family: 'Noto Sans KR', sans-serif; }

.container {
  width: 100%;
  height: 100%;
  position: relative; }
  .container .wrap_fixed .logo {
    overflow: hidden;
    position: fixed;
    z-index: 100;
    top: 5%;
    left: 4%; }
  .container .wrap_fixed .side_page {
    position: fixed;
    right: 3%;
    top: 40%;
    z-index: 100; }
    .container .wrap_fixed .side_page .page_list {
      text-align: right; }
      .container .wrap_fixed .side_page .page_list li {
        color: #fff; }
  .container .wrap_fixed .event_button {
    width: 471px;
    height: 110px;
    z-index: 100;
    position: fixed;
    right: 0;
    bottom: 0;
    background-color: #fff;
    box-shadow: 0px 0px 29px 0px rgba(0, 0, 0, 0.2); }
    .container .wrap_fixed .event_button .button_content {
      position: relative; }
      .container .wrap_fixed .event_button .button_content img {
        position: absolute;
        top: 0;
        left: 37px;
        margin-top: 10px;
        width: 96px; }
      .container .wrap_fixed .event_button .button_content .button_text {
        display: inline-block;
        padding: 44px 95px 44px 130px;
        font-size: 22px;
        font-weight: 400; }
      .container .wrap_fixed .event_button .button_content .button_arr {
        position: absolute;
        top: 50%;
        right: 36px;
        width: 40px;
        height: 16px;
        vertical-align: middle;
        transform: translateY(-50%);
        /* ??왜? */
        background: url("../img/btn_ring_b.png"); }
    .container .wrap_fixed .event_button .button_content:hover {
      background-color: #1cabe2; }
      .container .wrap_fixed .event_button .button_content:hover .button_text {
        color: #fff; }
      .container .wrap_fixed .event_button .button_content:hover .button_arr {
        background: url("../img/btn_ring_w.png"); }
  .container .main {
    overflow: hidden;
    background: url("../img/main_bg.jpg");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative; }
    .container .main .main_contentbox {
      width: 100%;
      height: 235px;
      position: absolute;
      top: 38%;
      right: -51%;
      z-index: 100; }
      .container .main .main_contentbox .main_content01 {
        width: 100%;
        margin-bottom: 47px; }
      .container .main .main_contentbox .main_content02 {
        font-size: 32px;
        color: #fff;
        font-weight: 700; }
  .container .content01 {
    width: 100%;
    background: url("../img/bg_3920.jpg") center 0; }
    .container .content01 .content01_box {
      margin: 0 auto;
      width: 100%;
      max-width: 1439px; }
      .container .content01 .content01_box .content01_title {
        padding-top: 234px;
        padding-left: 73px;
        margin-bottom: 150px; }
        .container .content01 .content01_box .content01_title .title01 {
          margin-bottom: 39px; }
      .container .content01 .content01_box .content01_con1 {
        overflow: hidden; }
        .container .content01 .content01_box .content01_con1 .con1_left {
          float: left;
          padding-top: 82px;
          padding-left: 138px; }
          .container .content01 .content01_box .content01_con1 .con1_left .dot {
            width: 16px;
            margin-top: 22px; }
          .container .content01 .content01_box .content01_con1 .con1_left .title .text1 {
            font-size: 36px;
            color: #36384f;
            font-weight: 700; }
          .container .content01 .content01_box .content01_con1 .con1_left .title .text2 {
            color: #40b87e;
            font-size: 36px;
            font-weight: 700;
            margin-bottom: 39px; }
          .container .content01 .content01_box .content01_con1 .con1_left .title .text3 p {
            margin-bottom: 1px;
            font-size: 15px;
            color: #1e1f2c; }
        .container .content01 .content01_box .content01_con1 .con1_right {
          float: right; }
          .container .content01 .content01_box .content01_con1 .con1_right .right_img {
            position: relative; }
            .container .content01 .content01_box .content01_con1 .con1_right .right_img .right_text_img {
              margin-right: 70px;
              box-shadow: 6px 8px 20px 0px rgba(0, 0, 0, 0.2); }
            .container .content01 .content01_box .content01_con1 .con1_right .right_img .right_img_text {
              position: absolute;
              top: 49px;
              right: 0; }
              .container .content01 .content01_box .content01_con1 .con1_right .right_img .right_img_text .right_text1 {
                width: 320px;
                margin-bottom: 12px; }
      .container .content01 .content01_box .content01_con2 {
        margin-top: 124px;
        margin-bottom: 124px;
        overflow: hidden; }
        .container .content01 .content01_box .content01_con2 .con2_left {
          float: left; }
          .container .content01 .content01_box .content01_con2 .con2_left .left_img {
            position: relative; }
            .container .content01 .content01_box .content01_con2 .con2_left .left_img .left_text_img {
              margin-left: 70px;
              box-shadow: 6px 8px 20px 0px rgba(0, 0, 0, 0.2); }
            .container .content01 .content01_box .content01_con2 .con2_left .left_img .left_img_text {
              position: absolute;
              top: 49px;
              left: 0; }
              .container .content01 .content01_box .content01_con2 .con2_left .left_img .left_img_text .left_text1 {
                width: 320px;
                margin-bottom: 12px; }
        .container .content01 .content01_box .content01_con2 .con2_right {
          float: left;
          padding-top: 94px;
          padding-left: 66px; }
          .container .content01 .content01_box .content01_con2 .con2_right .title .text1 {
            font-size: 36px;
            color: #36384f;
            font-weight: 700; }
          .container .content01 .content01_box .content01_con2 .con2_right .title .text2 {
            color: #f6bc30;
            font-size: 36px;
            font-weight: 700;
            margin-bottom: 39px; }
          .container .content01 .content01_box .content01_con2 .con2_right .title .text3 p {
            margin-bottom: 1px;
            font-size: 15px;
            color: #1e1f2c; }
      .container .content01 .content01_box .content01_con3 {
        overflow: hidden;
        margin-bottom: 246px; }
        .container .content01 .content01_box .content01_con3 .con3_left {
          float: left;
          padding-top: 82px;
          padding-left: 138px; }
          .container .content01 .content01_box .content01_con3 .con3_left .dot {
            width: 16px;
            margin-top: 22px; }
          .container .content01 .content01_box .content01_con3 .con3_left .title .text1 {
            font-size: 36px;
            color: #36384f;
            font-weight: 700; }
          .container .content01 .content01_box .content01_con3 .con3_left .title .text2 {
            color: #ee5419;
            font-size: 36px;
            font-weight: 700;
            margin-bottom: 39px; }
          .container .content01 .content01_box .content01_con3 .con3_left .title .text3 p {
            margin-bottom: 1px;
            font-size: 15px;
            color: #1e1f2c; }
        .container .content01 .content01_box .content01_con3 .con3_right {
          float: right; }
          .container .content01 .content01_box .content01_con3 .con3_right .right_img {
            position: relative; }
            .container .content01 .content01_box .content01_con3 .con3_right .right_img .right_text_img {
              margin-right: 70px;
              box-shadow: 6px 8px 20px 0px rgba(0, 0, 0, 0.2); }
            .container .content01 .content01_box .content01_con3 .con3_right .right_img .right_img_text {
              position: absolute;
              top: 49px;
              right: 0; }
              .container .content01 .content01_box .content01_con3 .con3_right .right_img .right_img_text .right_text1 {
                width: 320px;
                margin-bottom: 12px; }
  .container .content02 {
    width: 100%;
    height: 1000px;
    background: #1cabe2;
    background-position: center; }
    .container .content02 .content02_box {
      position: relative;
      padding-top: 234px;
      margin: 0 auto;
      max-width: 1296px; }
      .container .content02 .content02_box .content02_con1 .content02_title .title01 {
        margin-bottom: 29px; }
      .container .content02 .content02_box .content02_con1 .content02_title .title02 {
        margin-bottom: 45px; }
        .container .content02 .content02_box .content02_con1 .content02_title .title02 p {
          font-size: 48px;
          color: #fff;
          font-weight: 700;
          font-family: 'Lato', sans-serif; }
      .container .content02 .content02_box .content02_con1 .content02_title .title03 {
        margin-bottom: 84px;
        font-size: 20px;
        color: #fff;
        line-height: 28px;
        font-family: 'Lato', sans-serif; }
      .container .content02 .content02_box .content02_con1 .content02_title .btn {
        width: 409px;
        height: 108px;
        padding: 26px 31px;
        background-color: #fff;
        box-sizing: border-box;
        font-size: 20px;
        font-family: 'Lato', sans-serif; }
        .container .content02 .content02_box .content02_con1 .content02_title .btn .button_arr {
          position: absolute;
          left: 350px;
          width: 40px;
          height: 16px;
          vertical-align: middle;
          transform: translateY(-50%);
          /* ??왜? */
          background: url("../img/btn_ring_b.png"); }
      .container .content02 .content02_box .content02_con1 .content02_title .btn:hover {
        background-color: #374ea2;
        color: #fff; }
        .container .content02 .content02_box .content02_con1 .content02_title .btn:hover .button_arr {
          background: url("../img/btn_ring_w.png"); }
      .container .content02 .content02_box .content02_con2 {
        position: absolute;
        right: 0;
        bottom: -109px; }
      .container .content02 .content02_box .content02_foot {
        position: absolute;
        bottom: -250px;
        color: #fff;
        font-size: 15px;
        font-weight: 300; }
  .container .content03 {
    width: 100%;
    min-width: 1280px;
    height: 314px;
    background: #b29475; }
    .container .content03 .content03_box {
      margin: 0 auto;
      max-width: 1296px;
      overflow: hidden; }
      .container .content03 .content03_box .float_left .con3_img {
        float: left; }
      .container .content03 .content03_box .float_left .con3_txt {
        float: left;
        padding-left: 55px; }
        .container .content03 .content03_box .float_left .con3_txt .tit {
          margin-bottom: 27px;
          font-size: 22px;
          color: #36384f; }
        .container .content03 .content03_box .float_left .con3_txt .insert {
          color: #36384f;
          font-size: 15px;
          line-height: 24px; }
          .container .content03 .content03_box .float_left .con3_txt .insert span {
            display: block; }
          .container .content03 .content03_box .float_left .con3_txt .insert .en {
            display: inline-block; }
  .container .content04 {
    width: 100%;
    height: 100%;
    background: url("../img/bg_3920.jpg") center 0; }
