body, html{height: 100%; margin: 0; font-family: 'Noto Sans KR', sans-serif;}
.container{
    width: 100%;
    height: 100%;
    position: relative;
    .wrap_fixed{
        .logo{
            overflow: hidden;
            position: fixed;
            z-index: 100;
            top: 5%;
            left : 4%;
        }
        .side_page{
            position: fixed;
            right: 3%;
            top: 40%;
            z-index: 100;
            .page_list{
                text-align: right;
                li{
                    color: #fff;
                    // margin: 28px 0 0 0;
                }
            }
        }
        .event_button{
            width: 471px;
            height: 110px;
            z-index: 100;
            position: fixed;
            right: 0;
            bottom: 0;
            background-color: #fff;
            box-shadow: 0px 0px 29px 0px rgba(0, 0, 0, 0.2);
            .button_content{
                position: relative;
                img{
                    position: absolute;
                    top: 0;
                    left: 37px;
                    margin-top: 10px;
                    width: 96px;
                }
                .button_text{
                    display: inline-block;
                    padding: 44px 95px 44px 130px;
                    font-size: 22px;
                    font-weight: 400;
                }
                .button_arr{
                    position: absolute;
                    top: 50%;
                    right: 36px;
                    width: 40px;
                    height: 16px;
                    vertical-align: middle;
                    transform: translateY(-50%); /* ??왜? */
                    background: url("../img/btn_ring_b.png");
                }
            }
            .button_content:hover{
                background-color: #1cabe2;
                .button_text{
                    color: #fff;
                }
                .button_arr{
                    background: url("../img/btn_ring_w.png");
                }
            }
        }
    }
    .main{
        overflow: hidden;
        background: url("../img/main_bg.jpg");
        height: 100%;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;
        .main_contentbox{
            width: 100%;
            height: 235px;
            position: absolute;
            top: 38%;
            right: -51%;
            z-index: 100;
            .main_content01{
                width: 100%;
                margin-bottom: 47px;
            }
            .main_content02{
                font-size: 32px;
                color: #fff;
                font-weight: 700;
            }
        }
    }
    .content01{
        width: 100%;
        background: url('../img/bg_3920.jpg') center 0;
        .content01_box{
            margin: 0 auto;
            width: 100%;
            max-width: 1439px;
            .content01_title{
                padding-top: 234px;
                padding-left: 73px;
                margin-bottom: 150px;
                .title01{
                    margin-bottom: 39px;
                }
            }
            .content01_con1{
                overflow: hidden;
                .con1_left{
                    float: left;
                    padding-top: 82px;
                    padding-left: 138px;
                    .dot{
                        width: 16px;
                        margin-top: 22px;
                    }
                    .title{
                        .text1{
                            font-size: 36px;
                            color:#36384f;
                            font-weight: 700;
                        }
                        .text2{
                            color: #40b87e;
                            font-size: 36px;
                            font-weight: 700;
                            margin-bottom: 39px;
                        }
                        .text3{
                            p{
                                margin-bottom: 1px;
                                font-size: 15px;
                                color: #1e1f2c;
                            }
                        }
                    }
                }
                .con1_right{
                    float: right;
                    .right_img {
                        position: relative;
                        .right_text_img{
                            margin-right: 70px;
                            box-shadow: 6px 8px 20px 0px rgba(0, 0, 0, 0.2);
                        }
                        .right_img_text{
                            position: absolute;
                            top: 49px;
                            right: 0;
                            .right_text1{
                                width: 320px;
                                margin-bottom: 12px;
                            }
                        }
                    }
                }
            }
            .content01_con2{
                margin-top: 124px;
                margin-bottom: 124px;
                overflow: hidden;
                .con2_left{
                    float: left;
                    .left_img{
                        position: relative;
                        .left_text_img{
                            margin-left: 70px;
                            box-shadow: 6px 8px 20px 0px rgba(0, 0, 0, 0.2);
                        }
                        .left_img_text{
                            position: absolute;
                            top: 49px;
                            left: 0;
                            .left_text1{
                                width: 320px;
                                margin-bottom: 12px;
                            }
                        }
                    }
                }
                .con2_right{
                    float: left;
                    padding-top: 94px;
                    padding-left: 66px;
                    .title{
                        .text1{
                            font-size: 36px;
                            color:#36384f;
                            font-weight: 700;
                        }
                        .text2{
                            color: #f6bc30;
                            font-size: 36px;
                            font-weight: 700;
                            margin-bottom: 39px;
                        }
                        .text3{
                            p{
                                margin-bottom: 1px;
                                font-size: 15px;
                                color: #1e1f2c;
                            }
                        }
                    }
                }
            }
            .content01_con3{
                overflow: hidden;
                margin-bottom: 246px;
                .con3_left{
                    float: left;
                    padding-top: 82px;
                    padding-left: 138px;
                    .dot{
                        width: 16px;
                        margin-top: 22px;
                    }
                    .title{
                        .text1{
                            font-size: 36px;
                            color:#36384f;
                            font-weight: 700;
                        }
                        .text2{
                            color: #ee5419;
                            font-size: 36px;
                            font-weight: 700;
                            margin-bottom: 39px;
                        }
                        .text3{
                            p{
                                margin-bottom: 1px;
                                font-size: 15px;
                                color: #1e1f2c;
                            }
                        }
                    }
                }
                .con3_right{
                    float: right;
                    .right_img {
                        position: relative;
                        .right_text_img{
                            margin-right: 70px;
                            box-shadow: 6px 8px 20px 0px rgba(0, 0, 0, 0.2);
                        }
                        .right_img_text{
                            position: absolute;
                            top: 49px;
                            right: 0;
                            .right_text1{
                                width: 320px;
                                margin-bottom: 12px;
                            }
                        }
                    }
                }
            }
        }
    }
    .content02{
        width: 100%;
        height: 1000px;
        // padding: 5px 15px;
        background: #1cabe2;
        background-position: center;
        .content02_box{
            position: relative;
            padding-top: 234px;
            margin: 0 auto;
            max-width: 1296px;
            .content02_con1{
                .content02_title{
                    .title01{
                        margin-bottom: 29px;
                    }
                    .title02{
                        margin-bottom: 45px;
                        p{
                            font-size: 48px;
                            color: #fff;
                            font-weight: 700;
                            font-family: 'Lato', sans-serif;
                        }
                    }
                    .title03{
                        margin-bottom: 84px;
                        font-size: 20px;
                        color: #fff;
                        line-height: 28px;
                        font-family: 'Lato', sans-serif;
                    }
                    .btn{
                        width: 409px;
                        height: 108px;
                        padding: 26px 31px;
                        background-color: #fff;
                        box-sizing: border-box;
                        font-size: 20px;
                        font-family: 'Lato', sans-serif;
                        .button_arr{
                            position: absolute;
                            left: 350px;
                            width: 40px;
                            height: 16px;
                            vertical-align: middle;
                            transform: translateY(-50%); /* ??왜? */
                            background: url("../img/btn_ring_b.png");
                        }
                        
                    }
                    .btn:hover{
                        background-color: #374ea2;
                        color: #fff;
                        .button_arr{
                            background: url("../img/btn_ring_w.png");
                        }
                    }
                }
            }
            .content02_con2{
                position: absolute;
                right: 0;
                bottom: -109px;
            }
            .content02_foot{
                position: absolute;
                bottom: -250px;
                color: #fff;
                font-size: 15px;
                font-weight: 300;
            }
        }
    }
    .content03{
        padding: 5px 15px;
        background: url("../img/main_bg.jpg");
        height: 100%;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }  
    .content04{
        padding: 5px 15px;
        background: #1cabe2;
        height: 100%;
        background-position: center;
    }
}